<p id="notice"><%= notice %></p>

<p>
  <strong>Attr1:</strong>
  <%= @combination.attr1 %>
</p>

<p>
  <strong>Attr2:</strong>
  <%= @combination.attr2 %>
</p>

<p>
  <strong>Attr3:</strong>
  <%= @combination.attr3 %>
</p>

<p>
  <strong>Expn:</strong>
  <%= @combination.expn %>
</p>

<% @combination.clusters.each do |cluster| %>
	<p>
	  <strong>Val1:</strong>
	  <%= cluster.val1 %>
	</p>

	<p>
	  <strong>Val2:</strong>
	  <%= cluster.val2 %>
	</p>

	<p>
	  <strong>Val3:</strong>
	  <%= cluster.val3 %>
	</p>

	<p>
	  <strong>Expn val:</strong>
	  <%= cluster.expn_val %>
	</p>

	<p>
	  <strong>Combination:</strong>
	  <%= cluster.combination %>
	</p>
<% end %>

<%= link_to 'Edit', edit_combination_path(@combination) %> |
<%= link_to 'Back', combinations_path %>
