<header id="nav" class="navbar-fixed-top">
	<div class="navbar-header">
		
		<a id="logo" href=<%= root_url%>>SAPPHIRINE</a>
		
	</div>
	<ul class="nav navbar-nav pull-right">
		
		<li><%= link_to "Dataset", "#"%></li>
		<li><%= link_to "Teachers", "#"%></li>
		<li><%= link_to "Courses", "#"%></li>
		<li><%= link_to "Classes", "#"%></li>

	</ul>

</header>